<a href="https://colab.research.google.com/github/wcj365/jay_data690/blob/main/assignment_04/inclass_session_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In Class Practice

- Date: 02/21/22
- Name: Jay Wang

In [1]:
import random
import re
for i in range(0,10):
    print(end="\n ")
    for j in range(0,10):
        num=random.randint(0,9)
        if (num % 2) == 0:
            print(num, end=" ")
        else:
            strnum = str(num)
            strnum=strnum.replace(strnum,"@")
            print(strnum, end=" ")

 4 @ @ @ 6 2 4 4 @ 0
 4 @ @ 4 @ @ 8 0 @ 4
 @ @ 2 @ @ @ 2 2 @ 4
 @ 4 @ 0 @ @ @ 4 @ 2
 @ @ 0 @ @ @ @ 2 8 @
 @ @ 4 6 @ @ 2 4 @ @
 2 @ @ 2 @ 2 @ @ 8 8
 @ @ 4 6 6 @ 8 @ @ 6
 2 @ 8 4 0 4 6 @ @ 4
 2 2 0 0 2 @ 2 6 8 @

In [2]:
x = "Hello, wporld!"

print(x)

Hello, wporld!

In [3]:
x = x.replace("p", "")

print(x)

Hello, world!

In [5]:
x = x.replace("Hello", "Hi")

print(x)

Hi, world!

In [7]:
x = x.replace("w", "W")

print(x)

Hi, World!

In [8]:
x = x.upper()

print(x)

HI, WORLD!

In [9]:
x = x.lower()

print(x)

hi, world!

# String functions/methods/operations

- upper()
- lower()
- replace()
- strip()
- lstrip()
- rstrip()

In [13]:
#  generate 100 number first

numbers=[]     # This list is to hold 100 random numbers
for i in range(100):
    numbers.append(random.randint(0, 9))

print(numbers)
print(len(numbers))

[0, 1, 9, 3, 2, 7, 9, 8, 8, 1, 9, 4, 3, 0, 1, 6, 1, 6, 6, 6, 4, 8, 2, 1, 4, 7, 2, 9, 1, 8, 5, 4, 9, 1, 4, 2, 6, 0, 3, 4, 6, 8, 3, 5, 3, 0, 9, 7, 4, 2, 0, 6, 6, 9, 4, 3, 6, 5, 8, 8, 6, 1, 3, 5, 0, 5, 9, 2, 5, 1, 1, 9, 9, 4, 0, 7, 3, 8, 7, 2, 1, 8, 6, 4, 6, 6, 6, 7, 4, 8, 1, 8, 9, 6, 4, 5, 5, 4, 9, 9]
100

In [20]:
for i in range(0,100,1):
    print("index = ", i, "member = ", numbers[i])

index =  0 member =  0
index =  1 member =  1
index =  2 member =  9
index =  3 member =  3
index =  4 member =  2
index =  5 member =  7
index =  6 member =  9
index =  7 member =  8
index =  8 member =  8
index =  9 member =  1
index =  10 member =  9
index =  11 member =  4
index =  12 member =  3
index =  13 member =  0
index =  14 member =  1
index =  15 member =  6
index =  16 member =  1
index =  17 member =  6
index =  18 member =  6
index =  19 member =  6
index =  20 member =  4
index =  21 member =  8
index =  22 member =  2
index =  23 member =  1
index =  24 member =  4
index =  25 member =  7
index =  26 member =  2
index =  27 member =  9
index =  28 member =  1
index =  29 member =  8
index =  30 member =  5
index =  31 member =  4
index =  32 member =  9
index =  33 member =  1
index =  34 member =  4
index =  35 member =  2
index =  36 member =  6
index =  37 member =  0
index =  38 member =  3
index =  39 member =  4
index =  40 member =  6
index =  41 member =  8
index =  42 member =  3
index =  43 member =  5
index =  44 member =  3
index =  45 member =  0
index =  46 member =  9
index =  47 member =  7
index =  48 member =  4
index =  49 member =  2
index =  50 member =  0
index =  51 member =  6
index =  52 member =  6
index =  53 member =  9
index =  54 member =  4
index =  55 member =  3
index =  56 member =  6
index =  57 member =  5
index =  58 member =  8
index =  59 member =  8
index =  60 member =  6
index =  61 member =  1
index =  62 member =  3
index =  63 member =  5
index =  64 member =  0
index =  65 member =  5
index =  66 member =  9
index =  67 member =  2
index =  68 member =  5
index =  69 member =  1
index =  70 member =  1
index =  71 member =  9
index =  72 member =  9
index =  73 member =  4
index =  74 member =  0
index =  75 member =  7
index =  76 member =  3
index =  77 member =  8
index =  78 member =  7
index =  79 member =  2
index =  80 member =  1
index =  81 member =  8
index =  82 member =  6
index =  83 member =  4
index =  84 member =  6
index =  85 member =  6
index =  86 member =  6
index =  87 member =  7
index =  88 member =  4
index =  89 member =  8
index =  90 member =  1
index =  91 member =  8
index =  92 member =  9
index =  93 member =  6
index =  94 member =  4
index =  95 member =  5
index =  96 member =  5
index =  97 member =  4
index =  98 member =  9
index =  99 member =  9

In [14]:
count=0
for i in range(10):
    for j in range(10):
        print(numbers[count]," ", end =" ")
        count+=1
    print("\n")

0   1   9   3   2   7   9   8   8   1

9   4   3   0   1   6   1   6   6   6

4   8   2   1   4   7   2   9   1   8

5   4   9   1   4   2   6   0   3   4

6   8   3   5   3   0   9   7   4   2

0   6   6   9   4   3   6   5   8   8

6   1   3   5   0   5   9   2   5   1

1   9   9   4   0   7   3   8   7   2

1   8   6   4   6   6   6   7   4   8

1   8   9   6   4   5   5   4   9   9

In [21]:
# when to initialize a variable

sum=0
for n in range (10): #repeats each row 10 times
    for i in range(10): #repeats each integer 10 times
       y=random.randint(0,9)
       sum=sum+ y
       print(y,end=" ") #prints one integer with space at the end
    print( "*",sum,end=" \n")  #starts a new row after each 10 char
    sum=0                     #resets sum to 0 before the next loop

8 7 1 0 0 5 7 3 4 5 * 40
9 1 2 2 1 5 7 5 0 0 * 32
9 0 6 9 2 6 3 4 8 9 * 56
6 8 3 2 8 7 1 0 2 2 * 39
1 7 4 4 3 6 6 6 5 9 * 51
3 0 2 9 0 3 4 8 3 1 * 33
9 0 9 3 9 5 7 2 8 4 * 56
5 6 7 1 1 3 2 6 3 3 * 37
5 1 3 3 0 0 7 6 8 5 * 38
0 3 2 8 5 9 3 1 1 8 * 40

In [ ]:
# when to initialize a variable


for n in range (10): #repeats each row 10 times
    sum=0
    for i in range(10): #repeats each integer 10 times
       y=random.randint(0,9)
       sum=sum+ y
       print(y,end=" ") #prints one integer with space at the end
    print( "*",sum,end=" \n")  #starts a new row after each 10 char

In [22]:
x = [0,0,0,0,0,0]

print(x)

[0, 0, 0, 0, 0, 0]

In [23]:
x = [0] * 6

print(x)

[0, 0, 0, 0, 0, 0]

In [24]:
x = [0] * 100

print(x)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]